load-source {map_path}/{name}.osm
use-ruleset location=GiMaps/Rules/{name}.mrules
apply-ruleset
set-print-bounds-geo {min_lon},{min_lat},{max_lon},{max_lat}
export-svg file=GiMaps/Vectors/{name}.svg zoom=14 compatibility=Inkscape